.CheckPage {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 844px;
  text-align: center;

  background: #09182e;
}

.CheckPage .InputAndButton {
  position: relative;
  margin-top: 99px;
  margin-bottom: 50px;
}

.CheckPage .InputAndButton .Mark {
  position: absolute;
  left: 25px;
  bottom: 5px;
}
.CheckPage .InputAndButton .Place {
  margin-left: 63px;
  width: 230px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 23px;
  background: #fff;
  padding-left: 12px;
  padding-top: 8px;

  color: #172a46;
  text-align: left;
  font-family: GmarketSansMedium;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.CheckPage h2 {
  margin-top: 90px;
  color: #ffffff;
  font-family: GmarketSansMedium;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.99px;
}

.CheckPage .Btns {
  display: flex;
  margin-top: 40px;
  margin-left: 27px;
}
.CheckPage .Btns .YesBtn {
  width: 143px;
  height: 300px;
  flex-shrink: 0;
  margin-right: 20px;
  background: #fff;
  border-radius: 23px;

  color: #172a46;
  line-height: 300px;
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}

.CheckPage .Btns .NoBtn {
  width: 143px;
  height: 300px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 23px;

  color: #172a46;
  line-height: 300px;
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}
@media all and (max-width: 1024px) {
  /*브라우저 창 width가 1024px보다 작아지는 순간부터 적용
            태블릿*/
  .CheckPage {
    width: 800px;
  }
}
@media all and (max-width: 768px) {
  /*브라우저 창 width가 768px보다 작아지는 순간부터 적용
            모바일*/
  .CheckPage {
    width: 360px;
  }
}
@media all and (min-width: 768px) {
  /*브라우저 창 width가 768px보다 커지는 순간부터 적용
            태블릿*/
  .CheckPage {
    width: 900px;
  }
}
@media all and (min-width: 1024px) {
  /*브라우저 창 width가 1024px보다 커지는 순간부터 적용
            데스크탑*/
  .CheckPage {
    width: 400px;
  }
}
