.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding : 5%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.LoadingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #09182e;
    width: 390px;
    height: 844px;
    gap: 50px;
    margin: auto;
  
    color: #fff;
    text-align: center;
    font-family: GmarketSansMedium;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }