.Report {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 896px;
  text-align: center;
  padding: 5%;
  justify-content: flex-start;

  background: #09182e;
}
@media all and (max-width: 1024px) {
  /*브라우저 창 width가 1024px보다 작아지는 순간부터 적용
        태블릿*/
  .Report {
    width: 800px;
    margin : 0 auto;
  }
}
@media all and (max-width: 768px) {
  /*브라우저 창 width가 768px보다 작아지는 순간부터 적용
        모바일*/
  .Report {
    width: 360px;
  }
}
@media all and (min-width: 768px) {
  /*브라우저 창 width가 768px보다 커지는 순간부터 적용
        태블릿*/
  .Report {
    width: 900px;
  }
}
@media all and (min-width: 1024px) {
  /*브라우저 창 width가 1024px보다 커지는 순간부터 적용
        데스크탑*/
  .Report {
    width: 400px;
  }
}

.Report .Buttons {
  margin : 70px 0px 0px 0px;
}
.Report .Buttons .Camera {
  width: 314px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 23px;
  border-color: #ffffff;
  background: #ffffff;

  color: #fc6565;
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Report .Buttons .Gallery {
  width: 314px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 23px;
  border-color: #ffffff;
  background: #ffffff;
  margin-top: 70px;

  color: #172a46;
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Report input:focus,
input:active,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}
