.WalkNavigation {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 844px;
  text-align: center;
  position: relative;
  background-color: #09182e;
}

.WalkNavigation .Sign {
  display: flex;
  width: 314px;
  height: 350px;
  margin-top: 80px;
  margin-left: 23px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 23px;
}
.WalkNavigation .footer {
  position: absoulte;
  width: 365px;
  height: 480px;
  margin-top: 10px;
  border-radius: 23px;
}
.WalkNavigation .footer .Informations {
  color: #ffffff;
  line-height: 50px;
  font-style: normal;
  font-size: 25px;
  text-align: left;
  margin-top: 50px;
  margin-left: 70px;
}

.WalkNavigation .footer .Buttons {
  margin-top: 80px;
  margin-left: 20px;
  width: 330px;
  height: 26px;
}

.WalkNavigation .footer .Buttons .UpdateBtn {
  margin-right: 10px;
  background-color: #172a46;
  border-radius: 23px;
  border: 0;
}

.WalkNavigation .footer .Buttons .StopBtn {
  margin-right: 10px;
  background-color: #172a46;
  border-radius: 23px;
  border: 0;
}

.WalkNavigation .footer .Buttons .ReportBtn {
  background-color: #172a46;
  border-radius: 23px;
  border: 0;
}
@media all and (max-width: 1024px) {
  /*브라우저 창 width가 1024px보다 작아지는 순간부터 적용
          태블릿*/
  .WalkNavigation {
    width: 800px;
  }
}
@media all and (max-width: 768px) {
  /*브라우저 창 width가 768px보다 작아지는 순간부터 적용
          모바일*/
  .WalkNavigation {
    width: 360px;
  }
}
@media all and (min-width: 768px) {
  /*브라우저 창 width가 768px보다 커지는 순간부터 적용
          태블릿*/
  .WalkNavigation {
    width: 900px;
  }
}
@media all and (min-width: 1024px) {
  /*브라우저 창 width가 1024px보다 커지는 순간부터 적용
          데스크탑*/
  .WalkNavigation {
    width: 400px;
  }
}
